@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .c-h1 {
    @apply mb-3 text-5xl !important;
  }
  .card {
    background-color: theme("colors.white");
    border-radius: theme("borderRadius.lg");
    padding: theme("spacing.6");
    box-shadow: theme("boxShadow.xl");
  }
}
